<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="description" content="shopping list webpage">
    <title>SHOPPING LSIT</title>
</head>
<body>
<header>
    <h1>CALLING ALL SHOPPERS</h1>
</header>
<aside>
    <nav>
        <ul>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="list.html">LISTS</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
        </ul>
    </nav>
</aside>
<section>
    <article>
        <h3>Who are we?</h3>
        <p>You amy ne asking why bother with us at all, why give us a second thought.
        Well am here to tell you that we are your salvation in the world of shoppin.
        You have had times where a planned shopping venture turns to a regrettable,
        time wasting experieance. But with us you need not worry for we provide the best in
        keeping records of your shopping list. Hesitate no more and join our beautiful worl</p>
    </article>
</section>
<aside>
    <button click="#">SIGN UP</button>
</aside><p>OR</p>
<br>
<section>
    <form action="#" method="post">
        <p>Please Sign In</p>
        <div>
        USERNAME: <input type="text" name="username">
        </div>
        <br>
        <div>
        PASSWORD: <input type="password" name="password">
        </div>
    </form>
</section>



</body>
</html>